
.main_details{
	padding: 10px;
	padding-bottom:0px;
	background: #fff;
}
.main_details:after{
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}
	.main_img{
	    width: 100%;
	    height: 100%;
	    border: none;
	    position: relative;
	    cursor: crosshair;
	    display: block;
	    text-align: center;
	    width: 420px;
	    height: 420px;
	    border: 1px solid #e6e6e6;
	    margin-bottom: 10px;
	}
	.main_img img{
		width:100%;
		height:100%;	
	}	
		.many_img{
		    width: 422px;
		}
		.many_img:after{
			content: ".";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
		.many_img li{
			float: left;
			margin-right: 13px;
			}
		
		.many_img img{
			border: 1px solid #e6e6e6;
		    padding: 2px;
		    width: 60px;
		    height: 60px;
		}
		.many_img img:hover{
			border: 2px solid #e5004b;
   			padding: 1px;
		}
	/*左右点击按钮*/
	.img_next,.img_prev{
		background: url(../img/index/index.png) no-repeat;
	}
	.img_prev,.img_next{
		display: block;
	    width: 13px;
	    height: 25px;
	    margin-top: 21px;
	    cursor: pointer;
	}
	.img_prev{
		float: left;
	    margin-right: 8px;
	    background-position: -100px -256px;
	}
	.img_next{
		float: right;
    	background-position: -122px -256px;
	}
	/*分享*/
	.share_to{
		padding:5px 15px;
		width:392px;
	}
	.glasses{
		position: relative;
	}
	.glasses dl{
		float: left;
	}
	.move_small{
		border: 1px solid #aaa;
	    background: #ffffff;
	    opacity: 0.5;
        position: absolute;
        z-index: 10;
        width:185px;
        height: 185px;
        top:1px;
        left:1px;
        cursor: crosshair;
        display: none;
	}
	
	/*放大镜*/
	.move_big{
		z-index: 11;
		position: absolute;
		background: #ffffff;
	    border: 1px solid #ccc;
	    overflow: hidden;
	    top: 0px;
	    left: 433px;
	    width: 350px;
	    height: 350px;
	    background: url() no-repeat;
	    background-position: 0 0;
	    display: none;
	}
	.parent{
		width: 420px;
	}
	/*右侧部分*/
	.price_details{
		margin-left: 25px;
	    width: 730px;
	    font-size: 13px;
	}
		.goods_from{
			font-size: 18px;
		    color: #c4c4c4;
		    line-height: 50px;
		    height: 50px;
		}
	.activity{
		font-size: 18px;
	    font-weight: bold;
	    margin-top: 10px;
	    float: left;
	    line-height: 24px;
	}
		.activity span{
			color:#E5004A;
		}
		.activity b{
		    color: #ccc;
    		margin: 0 5px;
		}
	.goods_tips{
		padding: 10px 0;
    	font-size: 13px;
    	float: left;
	}
/*//价钱详情*/
	.goods_price_box{
		background: #f9f9f9;
	    padding: 10px 15px;
	    line-height: 36px;
	    float: left;    
	    padding: 10px 15px;
	    font-size: 13px;
	    width:95%;
	}
	
		.supu_price em,.market_price em,.sales em{
			color: #6c6c6c;
		    width: 90px;
		    text-align: left;
		    margin-right: 15px;
		    display: inline-block;
		}
		.supu_price span{
			font-size: 18px;
			color: #e5004b;
    		font-weight: bold;
		}
		.market_price span{
			text-decoration: line-through;
			margin-right: 4px;
		}
		.sales span{
			background: #ff8a00;
		    padding: 1px 3px;
		    color: #fff;
		    margin-right: 5px;
		    
		}
		.supu_price b{
			font-size: 24px;
    		color: #e5004b;
    		font-weight: bold;
		}
		.market_price b,.sales b,.diqu b{
			font-weight: normal;
		}
		/*地区*/
		.send_to{
			float: left;
			padding: 5px 15px;
			position: relative;
		}
			.send_to span{
				width: 90px;
				display: inline-block;
			}
			.send_to span{
				margin-right: 13px;				
			}
			.send_to .diqu{
				position: relative;
			    margin-left: 10px;
			    padding: 0 8px;
			    height: 24px;
			    border: 1px solid #ccc;
			    line-height: 24px;
			    cursor: pointer;
			    display: inline-block;
			}
			
			.diqu i{
				display: inline-block;
			    width: 14px;
			    height: 20px;
			    background: url(../img/goods_details/btn20121210.png) no-repeat;
			    float: right;
			    margin-left: 4px;
			}
			.send_to strong{
				margin: 0 20px;
			}
			.diqu_title:after,.provice ul:after{
				content: ".";
				visibility: hidden;
				height: 0;
				display: block;
				clear: both;
			}
			.diqu_title li{
				float: left;
			    padding: 5px 10px 5px 10px;
			    height: 20px;
			    background-color: #f7f7f7;
			    border: 1px solid #e5e5e5;
			    line-height: 20px;
			    cursor: pointer;
			}
			.diqu_details{
				padding: 5px;
			    width: 450px;
			    border: 1px solid #ccc;
			    position: absolute;
			    top:30px;
			    left:140px;
			    background: #fff;
			    display: none;
			}
			.shut_diqu{
			    width: 10px;
			    height: 10px;
			    line-height: 0;
			    background: url(../img/goods_details/shut_diqu.gif) center;
			    position: absolute;
			    top:10px;
			    right:10px;
			}
			.provice li,.center li,.qu li{
				float: left;
			    padding: 4px 8px;
			    margin: 0 5px 5px 0;
			    cursor: pointer;
			}
			.provice li:hover,.center li:hover,.qu li:hover{
				color:#E5004A;
			}
			.diqu_title .diqu_active{
				background: #fff;
			}

			/*选择项*/
		.goods_color,.goods_years,.shopping_count{
			float: left;
			width: 96%;
			padding: 5px 15px;
		}
			.choose{
				border: 1px solid #dddddd;
			    padding: 3px 6px;
			    display: inline-block;
			    height: 30px;
			    line-height: 30px;
			    cursor: pointer;
			}
			.choose:hover{
			    padding: 2px 5px;
    			border: 2px solid #ff9900;
			}
			.choosen{
				padding: 2px 5px;
    			border: 2px solid #ff9900;
			}
			.goods_color .nochoose{
				color:#ccc;
			}
		/*购买数量*/
	.shopping_count span{
		width:122px;
		height:26px;
		display: inline-block;
		position: relative;
		margin: 0 20px 0 50px;
		padding-top: 10px;
	}
		.shopping_count input{
			height: 34px;
		    width: 58px;
		    border: none;
		    border-top: 1px solid #dddddd;
		    border-bottom: 1px solid #dddddd;
		    line-height: 34px;
		    text-align: center;
		    font-size: 16px;
		    background: #fff;
		    float: left;
		}
		.shopping_count i{
			display: block;
		    width: 30px;
		    height: 34px;
		    border: 1px solid #dddddd;
		    background-color: #f9f9f9;
		    float: left;
		    font-size: 22px;
		    line-height: 34px;
		    text-align: center;
		}
		.shopping_count i:hover{
			background:#fff;
			cursor: pointer;
		}
		.shopping_count b{
			color: #ff8a00;
		}
	.add_carb{
		float: left;
		padding: 25px 0 20px 0;
	}
		.add_carb span{
			background-color: #e5004b;
    		color: #fff;
    		margin: 0 20px 0 120px;
    		font-size: 16px;
		    text-align: center;
		    display: inline-block;
		    padding: 8px 28px;
		    cursor: pointer;
		}	
		.add_carb span:hover{
			background-color: #ff8a00;
		    color: #fff;
		}
		.add_carb em{
			font-size: 16px;
		    text-align: center;
		    display: inline-block;
		    padding: 8px 28px;
		    border: 1px solid #e5004b;
		    margin-right: 10px;
		    cursor: pointer;
		}
		.add_carb em i{
			background: url(../img/index/index.png) no-repeat -100px -397px;
			display: inline-block;
		    float: left;
		    width: 14px;
		    height: 19px;
		    margin: 3px 12px 0 0;
		}
		.add_carb b{
			display: inline-block;
		    width: 12px;
		    height: 12px;
		    background: url(../img/index/index.png) no-repeat -100px -286px;
		    margin: 14px 5px 0 20px;
		} 
		.shoucang{
			color: deepskyblue;
		}
		/*下部分*/
	.goods_bom{
		padding:0px  0px 100px 0px;
		margin-top: 10px;
	}
	.goods_bom:after,.goods_classify ul:after{
		content: ".";
		visibility: hidden;
		height: 0;
		display: block;
		clear: both;
	}
		.goods_bom_left{
			float: left;
			width:205px;
		}
		.goods_bom_right{
			float: right;
			width:985px;
		}
		.goods_classify,.goods_hot{
			width: 165px;
		    padding: 10px 20px;
		    background: #fff;
		    margin-bottom: 10px;
		}
			.goods_classify h4,.goods_hot h4{
				border-bottom: 3px solid #e5e5e5;
			    font-size: 14px;
			    font-weight: bold;
			}
			.goods_classify span,.goods_hot span{
				display: inline-block;
			    border-bottom: 3px solid #e5004b;
			    margin-bottom: -3px;
			}
			.goods_classify li{
				width: 82px;
			    float: left;
			    padding: 5px 0;
			    text-align: center;
			    cursor: pointer;
			}
			.goods_classify li:hover{
				color: #e5004a;
			}
/*热门商品*/
.goods_hot img{
	width:100%;
	height:100%;
}
	.goods_hot .jieshao{
		text-align: center;
	}
	.goods_hot .price{
		font-size: 14px;
	    color: #e5004b;
	    font-weight: bold;
	    text-align: center;
	    margin: 10px 0;
	}
	.goods_hot dl{
		border-bottom: 1px solid #e5e5e5;
		padding: 8px 0;
	}
/*右侧*/
.goods_bom_right{
	float: right;
	overflow: hidden;
}
.hot_title:after{
	content: ".";
	visibility: hidden;
	height: 0;
	display: block;
	clear: both;
}	
	.hot_activity{
		margin-bottom: 10px;
	}
	.hot_title li,.goods_photo li{
		float: left;
	    font-size: 15px;
	    padding: 5px 35px;
	    margin-right: 1px;
	    color: #E5004A;
	    font-weight: bold;
	    background: #eaeaea;
	    cursor: pointer;
	}
	.activity_det{
		width:995px;
		padding:10px 0 0 10px;
		background: #fff;
	}
	.activity_det img{
		width: 317px;
		height:126px;
		margin-right: 8px;
	}


	/*商品详情*/
	.goods_photo{
		position: relative;
		
	}
	
	.goods_photo .deatils{
		background: #fff;
		float: left;
		width:100%;
	}
	.goods_photo .deatils:after,.goods_title:after{
		content: ".";
		visibility: hidden;
		height: 0;
		display: block;
		clear: both;
	}
	
	.goods_name{
		padding: 20px;
   		border-bottom: 1px solid #e9e9e9;
   		line-height: 100%;
	}
	.goods_name span,.goods_name b{
		margin-right: 40px;
		
	}
	.goods_name b{
		font-weight: normal;
	}
	.goods_name span{
		display: inline-block;
		width:220px;
		white-space: nowrap;
		text-overflow:ellipsis;
		overflow: hidden;
		
	}
	/*评论*/
	.pinglun{
		height: 210px;
    	background-color: #fff7e8;
		float: left;
		width:100%;
    	
	}
		.percent{
			float: left;
		    width: 220px;
		    padding: 18px;
		    border-right: 1px #feeecf solid;
		}
			.percent span,.percent b{
				font-size: 48px;
			    font-weight: 600;
			    color: #EB7C00;
			    font-family: Arial;
			    line-height: 38px;
			    display: inline-block;
			}
			.percent b{
				font-size: 20px;
			}
			.percent_bg{
				background-color: #FDA970;
    			height: 15px;
    			width: 130px;
    			display: inline-block;
    			margin-right: 10px;
			}
			.percent .name{
				width:240px;
				height:15px;
				display: inline-block;
				line-height: 15px;
			}
			
			.numerical{
				float: right;
				width: 71%;
			}
			.numerical h2{
				font-size: 14px;
			    color: #eb7c06;
			    line-height: 30px;
			    margin-top:15px;
			    font-weight: bold;
			}
			.duihuan,.useing{
				border-bottom: 1px dashed #888;
				width:666px;
				margin-bottom: 10px;
				line-height: 25px;
			}
			.useing{
				color: #000;
			}
			.duihuan em{
				color:#900;
			}
			.numerical a{
				float: right;
				margin-right: 30px;
			}
			
		
		.pinglun,.normal_question{
			display: none;
		}
		/*标题固定*/
		.title_fixed{
			position: fixed;
			top:0px;
			z-index: 20000;
			width:985px;
			box-shadow: rgb(234, 234, 234) 0px 2px 8px;
			background: #f8f8f8;
			display: none;
		}
