/*图片整合*/
.li_box a span,.search_icon,.cart_small b,.navCon-cate-title{
			background:url(../img/index/index.png) no-repeat;
			}
/*top部分*/
.top{
	background-color: #333333;
    padding: 2px 0;
    color: #dbdbdb;
}
.wrap_1200:after {
    content: '\0020';
    display: block;
    clear: both;
    height: 0;
  }
	.top a {
    	color: #dbdbdb;
	}

.wrap_1200{
	width: 1200px;
    margin: 0 auto;
}
	.fl{
		float: left;
	}
		.login_box a{
			color: #e5004a;
		}
	.fr{
		float: right;
	}
		.li_box {
		    float: left;
		    min-width: 80px;
		    text-align: center;
		    position: relative;
		    z-index: 10000;
		}
			.top_nav_menu {
			    display: block;
			    border-top: 1px solid #333;
			    border-right: 1px solid #333;
			    border-left: 1px solid #333;
			    position: relative;
			    text-align: center;
			    background: #333;
			    z-index: 100;
			    min-width: 80px;
			}
			#supuy_service .top_nav_menu {
			    margin-left: 10px;
			    font-weight: bold;
			    width: 110px;
			}
				.li_box a span {
				    background-position: -14px 0;
				    width: 7px;
				    height: 6px;
				    display: inline-block;
				    margin-left: 6px;
				}
			/*隐藏部分*/
			.user_con {
			    position: absolute;
			    top: 25px;
			    background-color: #333;
			    z-index: 2;
			    padding: 10px;
			    border-right: 1px solid #333;
			    border-bottom: 1px solid #333;
			    border-left: 1px solid #333;
			    display: none;
			    left: 0px;
			}
			.app_con {
			    position: absolute;
			    background-color: #333;
			    padding: 10px;
			    display: none;
			    border: 1px solid #333;
			    z-index: 0;
			    left: -32px;
			    top: 24px;
			   }
			   .service_con {
			    position: absolute;
			    right: 0px;
			    top: 24px;
			    background-color: #333;
			    z-index: 2;
			    width: 110px;
			    display: none;
			    border: 1px solid #333;
			}
				.user_con ul li {
				    width: 60px;
				    margin: 5px 0px;
				}
				.app_con ul li {
				    margin: 5px 0px;
				    text-align: center;
				    padding: 2px;
				}
				.service_con ul li {
				    margin: 5px 0px;
				    text-align: center;
				}
/*中间部分*/
.midlle {
    padding: 35px 0 18px;
    background-color: white;
}	
	.logo {
	   	width: 207px;
	    height: 56px;
	}
	.search_box {
	    margin: 0px 130px 0px 50px;
	    width: 580px;
	    position: relative;
	    z-index: 9000;
	}
	.search_icon {
    background-position: 7px -10px;
    height: 40px;
    width: 31px;
    background-color: #e5004a;
}
		#search_text {
		    border: 4px solid #e5004a;
		    height: 30px;
		    width: 413px;
		    font-size: 14px;
		    line-height: 30px;
		    font-weight: bold;
		    padding: 1px 14px;
		    outline: medium;
		}
		.suggest_box {
		    position: absolute;
		    width: 445px;
		    top: 40px;
		    left: 35px;
		    background-color: #FFF;
		}
		#search_btn {
		    background-color: #e5004a;
		    font-size: 16px;
		    color: #FFF;
		    border: 0;
		    height: 40px;
		    width: 99px;
		    line-height: 32px;
		    cursor: pointer;
		}
		.hot_search {
		    margin-top: 6px;
		    height: 24px;
		    width: 580px;
		    overflow: hidden;
		    white-space: nowrap;
		}
			.hot_search ul li {
			    float: left;
			    margin: 0px 10px;
			    display: inline;
			}		
			
/*购物车*/		
.cart_box_small {
    font-size: 14px;
    color: #FFF;
    background-color: #e5004a;
    max-width: 145px;
    position: relative;
    z-index: 9000;
}
	.cart_small {
	    display: block;
	    height: 34px;
	    border: 3px solid #e5004a;
	    overflow: hidden;
	}		
		.cart_small b {
		    float: left;
		    display: block;
		    height: 24px;
		    width: 24px;
		    background-position: 0px -51px;
		    margin: 4px 16px 0 6px;
		}
		.cart_small span {
		    color: #FFF;
		    font-size: 14px;
		    line-height: 32px;
		    width: 3em;
		}
		.triangle-left {
		    width: 0;
		    height: 0;
		    border-top: 4px solid transparent;
		    border-right: 6px solid #FFF;
		    border-bottom: 4px solid transparent;
		    display: inline;
		    margin-left: 9px;
		    position: relative;
		    top: 12px;
		}
		.cart_no {
		    display: block;
		    background: #FFF;
		    color: #e5004a;
		    padding: 6px;
		    font-size: 12px;
		    line-height: 21px;
		    font-style: normal;
		    text-align: center;
		    min-width: 24px;
		}
/*头部导航*/
.headNav {
    height: 38px;
    border-bottom: 2px solid #e5004a;
    background: #fff;
}
	.navCon {
	    height: 38px;
	    position: relative;
	    z-index: 8000;
	    background-color: #fff;
	}
	.adv_right {
	    position: absolute;
	    right: 0;
	    top: 40px;
	    width: 191px;
	    height: 447px;
	    overflow: hidden;
	}
	.navCon-cate {
	    width: 210px;
	    height: 38px;
	    line-height: 38px;
	    font-size: 14px;
	    background-color: #e5004a;
	    position: relative;
	}
		.navCon-cate-title {
		    background-position: 213px -108px;
		    padding-left: 15px;
		}
		.cateMenu {
		    position: absolute;
		    left: 0px;
		    cursor: pointer;
		    border: 2px solid #e5004a;
		    border-right: none;
		    background: url(../Img/cate_menu_bottom.jpg) #e5004a no-repeat center bottom;
		    padding-bottom: 35px;
		}

		.hide {
		    display: none;
		}
			.cateMenu li {
			    padding: 0;
			    overflow: hidden;
			    background-color: #e5004b;
			}
				.cate-tag {
				    width: 186px;
				    padding: 8px 5px 8px 15px;
				    overflow: hidden;
				    position: relative;
				    z-index: 10;
				    border-right: 2px solid #e5004b;
				}
					.cate-tag .first_menu {
					    height: 25px;
					    line-height: 25px;
					    width: 172px;
					    display: block;
					}
					.first_menu a {
					    display: block;
					}
					.cateMenu a {
					    color: #ffffff;
					}
						.first_menu a .icon_1 {
						    background-position: 0px -152px;
						}
						.cateMenu .arrow_right {
						    display: block;
						    width: 15px;
						    height: 15px;
						    background: url("../Img/index.png");
						    background-position: 192px -137px;
						    margin-right: 10px;
						    margin-top: -20px;
						}
						.cateMenu li i {
						    display: block;
						    width: 4px;
						    position: absolute;
						    z-index: 10;
						    height: 37px;
						    right: -2px;
						    background: #FFF;
						}
						.cateMenu .list-item {
						    position: absolute;
						    top: -1px;
						    left: 208px;
						    background: #FFF;
						    height: 100%;
						    width: 798px;
						    z-index: 2;
						    border: 2px solid #e5004b;
						    border-left: none;
						    overflow: hidden;
						    border-top: 1px solid #e5004b;
						}
						.list-item .itemleft {
						    width: 597px;
						    float: left;
						    overflow: hidden;
						    padding-top: 10px;
						}
							.list-item dl {
							    padding-left: 25px;
							}
							.list-item .itemleft dd {
							    float: left;
							    width: 460px;
							    margin-left: 10px;
							}
							.list-item dd {
								white-space: nowrap;
								}
							.list-item .itemleft dt {
							    float: left;
							}
							.list-item dt {
							    color: #000000;
							    font-size: 12px;
							    font-weight: bold;
							    text-indent: 0px;
							    margin-bottom: 8px;
							    margin-right: 5px;
							    line-height: 25px;
							    min-width: 47px;
							}
								.list-item dd a {
								    color: #646464;
								    display: block;
								    float: left;
								    line-height: normal;
								    margin-top: 5px;
								    padding-right: 10px;
								    padding-left: 10px;
								    margin-bottom: 10px;
								    border-left: 1px solid #cfcfcf;
								    font-size: 12px;
								}
				.navCon-menu {
				    width: 986px;
				}
					.navCon-menu ul {
					    padding-left: 15px;
					}
						.navCon-menu li {
						    float: left;
						    height: 38px;
						    line-height: 38px;
						    text-align: center;
						}
							.navCon-menu li a {
							    color: #333333;
							    display: block;
							    font-size: 15px;
							    font-weight: bold;
							    height: 38px;
							    line-height: 38px;
							    text-decoration: none;
							    padding: 0px 30px;
							}
							#supuy_oversea {
							    position: relative;
							}
							
/*轮播图*/	
#banner_tabs {
    margin: 0px auto 20px;
    position: relative;
    width: 100%;
    height: 447px;
    overflow: hidden;
    zoom: 1;
}	
	#banner_tabs .slides li {
	    width: 100%;
	    height: 100%;
	}
	#banner_tabs .flex-direction-nav li{
		display: block;
	    position: absolute;
	    z-index: 1;
	    left: 50%;
	    top: 50%;
	    z-index: 1;
	    width: 40px;
	    height: 60px;
	    cursor: pointer;
	    filter: alpha(opacity=0);
	    opacity: 0;
	}
	
#banner_tabs .flex-direction-nav .flex-next { 
    margin: -30px 0 0 366px;
    background: url(../Img/slider-arrow.png) -6px -137px #000 no-repeat;    
}

#banner_tabs .flex-direction-nav .flex-prev {  
    margin: -30px 0 0 -386px;
    background: url(../Img/slider-arrow.png) -126px -137px #000 no-repeat;
}			
	#banner_tabs:hover .flex-next {
	    opacity: 0.4;
	    filter: alpha(opacity=40);
	}

	#banner_tabs:hover .flex-prev {
	    opacity: 0.4;
	    filter: alpha(opacity=40);
	}
	
	#banner_tabs:hover .flex-next:hover,
	#banner_tabs:hover .flex-prev:hover {
	    opacity: 0.6;
	    filter: alpha(opacity=60);
	}						