/* Yahoo http://developer.yahoo.net/yui/license.txt version: 2.7.0 */

html,
body {
	color: #666;
	background: #FFF;
	font-family: "Microsoft YaHei UI", "Microsoft YaHei UI Light", "微软雅黑", "宋体", Helvetica-Black-SemiBold, Tahoma, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
h2{
	font-size:16px;
}
h3{
	font-size:14px;
}

a {
	color: #666;
	text-decoration: none;
}
a:hover {
    color: #e5004a;
}

.clear {
	_zoom: 1;
	clear: both;
}

